*
{
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.4;
}
#head
{
	padding: 2%;
	color: white;
	background: red;
	background: linear-gradient(to right, #ff4da6, #ff751a);
}
small
{
	float: right;
}
#about, #login
{
	padding: 2%;
}